* {
    margin: 0;
    padding: 0;
}

/* Navbar */
navbar-nav {
    font-size: 18px;
}


/* Button */
.btn:hover {
    color: #fff;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
}


/* Progress Bar */

.progress {
    height: 30px;
    border-radius: 50px;
    transition: all 0.5s ease;
}

.progress:hover{
    transform: scale(1.1);
}


/* Card */
.card {
    transition: all 0.5s ease;
}

.card img {
    height: 100px;
    width: 100px;
    margin: auto;
    
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 1px 2px 10px #000;
}

/* Skills */
ul {
    list-style-type: circle;
}



/* Projects */




#projects .proj-content .proj-card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 auto;
}


/* #projects .proj-content .card .box {
    transition: all 0.3s ease;
}

#projects .proj-content .card:hover .box {
    transform: scale(1.05);
} */


#projects .proj-content .proj-card i {
    font-size: 30px;
    color: #3d0970;
    transition: color 0.3s ease;
}

#projects .proj-content .proj-card:hover i {
    color: #fff;
    
}

#projects .proj-content .proj-card .text {
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #fff;
}

#projects .proj-content .proj-card a {
    display: inline-block;
    background: coral;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #fff;
    transition: all 0.3s ease;
    text-decoration: none;
}

#projects .proj-content .proj-card a:hover {
    color: #fff;
    border: 2px solid #fff;
    transform: scale(1.05);
}

